@charset "utf-8";
/* CSS Document */
body {
	background-color: #FFF;	
	color:#000;
	background-image: url(../images/mainbg.png);
	background-repeat: repeat;
	background-position: center;
	margin: 0px auto;		
}
.container {
	position: relative; 
	margin: 0em auto; 
	height: auto; 
	width: 810px;
}
.title {
	color:#fff;
	background-color:#181829;
	width:788px;
	position: relative; 
	margin: .3em auto;		
	padding: 5px 10px 5px 10px;
	font: 200% "Courier New", Courier, monospace;
	font-weight:bold;	
	border: thin solid #006ab2;
	text-align:center;
}
.cont_title {
	margin: .1em auto;
	background-color:#5e95ea;
	color:#006ab2;
	font: 150% "Courier New", Courier, monospace;
	font-weight:bold;
	padding: 5px 5px 5px 5px;
	border: thin solid #5e95ea;	
}
.sidemenu {
	background-color:#181829;
	color:#006ab2;
	float:left;
	height:auto;
	width:125px;
	padding: 5px 5px 5px 5px;	
	font: 75% "Courier New", Courier, monospace;
	border: thin solid #006ab2;	
	margin: .5em auto;	
}
.content {
	background-color:#181829;
	color:#006ab2;
	float:right;
	height:auto;
	width:655px;
	padding: 5px 5px 5px 5px;	
	font: 100% "Courier New", Courier, monospace;
	font-size: small;	
	border: thin solid #006ab2;	
	margin: .5em auto;	
}
.footer-border {
	clear:both;
	position: relative;
	border: thin solid #006ab2;
	margin: .5em auto;
	width:806px;
}
.footer {
	clear:both;
	height:150px; 
	width:806px;
	position:relative; 
	background-color:#006ab2;
	background:url(../images/noscroll-bg.jpg) 50% 100% fixed repeat-x;
}
.footer div {
	height:150px;
	background:url(../images/trans-bg.gif) no-repeat;
}
.cont_foot {
	position:relative;
	color:#666;
	text-align:right;
	font: 65% Verdana, Arial, Helvetica, sans-serif;
	background-color: #006ab2;	
}
.cont_foot2 {
	width: 806px;
	margin: 0em auto;
	background-color: #006ab2;	
	color: #006ab2;
	text-align: right;
	font: 65% verdana,arial,sans-serif;	
	text-transform: uppercase;
	background:url(../images/trans-bg.gif) no-repeat;	
}
a:link {
	color:#5e95ea;
	text-decoration: none;
}
a:visited {
	color:#5e95ea;
}
a:active {
	color:#5e95ea;
	text-decoration: underline;
}
a:hover {
	color:#5e95ea;
	text-decoration: underline;	
}
.sidemenu a:link {
	width: 110px;
	float:none;
	border: 1px solid #006ab2;
	padding: 0 6px;
	display: block;
	background: #5e95ea;
	color: #006ab2;
	text-decoration: none;	
}
.sidemenu a:visited {
	width: 110px;
	float:none;
	border: 1px solid #006ab2;
	padding: 0 6px;
	display: block;
	background: #5e95ea;
	color: #006ab2;
	text-decoration: none;	
}
.sidemenu a:active {
	width: 110px;
	border: 1px solid #5e95ea;
	background: #006ab2;
	color: #5e95ea;
	text-decoration: none;
}
.sidemenu a:hover {
	width: 110px;
	border: 1px solid #5e95ea;
	background: #006ab2;
	color: #5e95ea;
	text-decoration: none;
}
.quote {
	background: #000;
	color: #5e95ea;
	padding: 5px 30px 5px 30px;	
	width: 455px;
	border: 1px solid #5e95ea;
	clear:both;
	margin-left:75px;
}